* {
  margin: 0%;
  padding: 0%;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5e6bf8;
  height: 100vh;
}
.container {
  display: flex;
  height: 80vh;
  width: 90vw;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06),
    0px 0px 0px 1px;
  color: white;
}
.profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 80px 0px;
  width: 45vw;
  background-color: #5465f9;
}
.profile h1 {
  font-size: 30px;
  font-weight: bolder;
}
.imgdiv img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
div.profile h1 {
  font-size: 30px;
  font-weight: bolder;
}
.profile h3 {
  font-size: 25px;
  font-weight: 500;
}
.profile p {
  font-size: 20px;
}
.btn_div {
  display: flex;
}
.btn_div button {
  background-color: transparent;
  border: 1px solid white;
  width: 300px;
  height: 40px;
  color: white;
  border-radius: 30px;
}
.btn_div div {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: white;
  position: relative;
  margin-left: -30px;
}
/* ............................Login Section.......................... */

.login {
  width: 45vw;
  display: flex;
  flex-direction: column;
  padding: 80px 0px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: #6165c1;
}
.login h1 {
  font-size: 25px;
}
form {
  width: 300px;
  height: 150px;
  padding: 20px 0px;
  box-shadow: rgba(0, 0, 0, 0, 1) 0px 4px 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
form input {
  text-align: center;
  border: none;
  border-bottom: 1px solid #535ffa;
  outline: none;
  width: 230px;
  height: 30px;
}
form button {
  background-color: #535ffa;
  border: none;
  width: 230px;
  height: 40px;
  color: white;
  border-radius: 30px;
}
.btn_div2 {
  display: flex;
}
.btn_div2 button {
  background-color: transparent;
  border: 1px solid #535ffa;
  width: 300px;
  height: 40px;
  color: #535ffa;
  border-radius: 30px;
}
.btn_div2 div {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: relative;
  margin-left: -30px;
  background-color: #535ffa;
}
